<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hansteens brevsamling</title>
    <link rel="stylesheet" href="">

    <!-- development version, includes helpful console warnings-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js" integrity="sha256-TuNPk8D8FMWPo5dDIBWwBuu+lxtA7yyN+i8LmHQudrc=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style type="text/css">
        th button.btn {
            padding: 0 !important;
        }
        th button.btn span {
            display: inline-block;
            width: 20px;
        }
    </style>
</head>
<body>
    <div id="app"></div>
<script>
var app = new Vue({
    el: '#app',
    template: `
<div>
    <p>
        <a href="https://github.com/uio-library/hansteen-brev">https://github.com/uio-library/hansteen-brev</a>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width: 160px;">
            <button class="btn btn-link" @click="setSortKey('id')">
                <span>
                    <i class="fas fa-sort-alpha-down" v-show="sortKey == 'id' && sortOrder == 'asc'"></i>
                    <i class="fas fa-sort-alpha-up" v-show="sortKey == 'id' && sortOrder == 'desc'"></i>
                </span>
                Tilvekstnr.
            </button>
          </th>
          <th scope="col" style="width: 220px;">
            <button class="btn btn-link" @click="setSortKey('sender')">
                <span style="width:20px;">
                    <i class="fas fa-sort-alpha-down" v-show="sortKey == 'sender' && sortOrder == 'asc'"></i>
                    <i class="fas fa-sort-alpha-up" v-show="sortKey == 'sender' && sortOrder == 'desc'"></i>
                </span>
                Avsender
            </button>
          </th>
          <th scope="col" style="width: 220px;">
            <button class="btn btn-link" @click="setSortKey('date')">
                <span style="width:20px;">
                    <i class="fas fa-sort-alpha-down" v-show="sortKey == 'date' && sortOrder == 'asc'"></i>
                    <i class="fas fa-sort-alpha-up" v-show="sortKey == 'date' && sortOrder == 'desc'"></i>
                </span>
                Dato
            </button>
          </th>
          <th scope="col" style="width: 220px;">
            <button class="btn btn-link" @click="setSortKey('place')">
                <span style="width:20px;">
                    <i class="fas fa-sort-alpha-down" v-show="sortKey == 'place' && sortOrder == 'asc'"></i>
                    <i class="fas fa-sort-alpha-up" v-show="sortKey == 'place' && sortOrder == 'desc'"></i>
                </span>
                Sted
            </button>
          </th>
          <th scope="col">Filer</th>
        </tr>
        <tr>
          <th scope="col"><input placeholder="Søk" v-model="filters.id" style="width:100%"></th>
          <th scope="col"><input placeholder="Søk" v-model="filters.sender" style="width:100%"></th>
          <th scope="col"><input placeholder="Søk" v-model="filters.date" style="width:100%"></th>
          <th scope="col"><input placeholder="Søk" v-model="filters.place" style="width:100%"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows">
          <td>{{ row.id }}</td>
          <td>{{ row.sender }}</td>
          <td>{{ row.date }}</td>
          <td>{{ row.place }}</td>
          <td style="display:flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
            <div style="flex: 0 0 auto; padding: .4em;" v-for="page in row.files">
                <a :href="'http://ub-media.uio.no/arkiv/hansteen/files/' + page.filename">
                <img style="max-width:90px;" :src="'http://ub-media.uio.no/arkiv/hansteen/files/' + page.filename.replace('.tif', '_thumb.jpg')" alt=""><br>

                {{ page.label }}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
    `,
    components: {
        octicon: window.VueOcticon,
    },
    data: {
        allRows: [],
        sortKey: 'id',
        sortOrder: 'asc',
        filters: {
            id: '',
            sender: '',
            date: '',
            place: '',
        },
    },
    methods: {
        setSortKey: function(key) {
            if (this.sortKey == key) {
                this.sortOrder = (this.sortOrder == 'asc') ? 'desc' : 'asc';
            } else {
                this.sortKey = key;
            }
        },
    },
    computed: {
        rows: function() {
            let filters = [];
            ['id', 'sender', 'date', 'place'].forEach(columnName => {
                if (this.filters[columnName].length) {
                    let v = this.filters[columnName].toLowerCase();
                    filters.push(x => x[columnName] && x[columnName].toLowerCase().indexOf(v) !== -1);
                }
            });

            return _.orderBy(this.allRows.filter(row => {
                for (var i = filters.length - 1; i >= 0; i--) {
                    if (!filters[i](row)) return false;
                }
                return true;
            }), row => (row[this.sortKey] + '').toLowerCase(), [this.sortOrder]);
        },
    },
    mounted: function() {
        axios.get('https://uio-library.github.io/hansteen-brev/src/hansteen.json').then((resp) => {
            let processed = resp.data.map(function(row) {
                let place = _.get(row, 'descriptive.places.0');
                if (place) {
                    place = _.get(place, 'place') + ', ' + _.get(place, 'country');
                }
                return {
                    id: _.get(row, 'id'),
                    sender: _.get(row, 'descriptive.agents.correspondent.name'),
                    date: _.get(row, 'descriptive.date'),
                    place: place,
                    files: _.get(row, 'structure'),
                };
            });
            this.allRows = processed;
        });
    }
})
</script>
</body>
</html>
